@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

// Set your brand colors
$green: #6ac3ec;
$light-green: #FFE5B4;
$red: #D11D05;
$black: #363636;
$blue: #0b69c0;

$border: $light-green;
$primary: $black;
$secondary: $green;

//Sizing
$base-size: 1rem;

// Font Variables
$heading: 'Roboto Slab', serif;   
$paragraph: 'Quicksand', sans-serif;
