@use '../1-helpers/mixins';
@use '../1-helpers/functions';
@use '../1-helpers/vars';


// Form
.whole-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

input[type=text] {
  width: 102%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: vars.$base-size * 0.50;
  border: none;
  align-content: space-between;
}

.form-container {
  width: functions.colWidth(12);

  @include mixins.media-queries(tablet, min) {
      width: functions.colWidth(5);
  }
}

.form-title {
  color: vars.$primary;
  font-family: vars.$heading;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.label {
  color: vars.$black;
  font-family: vars.$paragraph;
  font-weight: bold;
}

.form-button-primary {
  background-color: vars.$blue;
  padding: vars.$base-size;
  border-radius: vars.$base-size * 0.50;
  border: none;
  color: #ffffff;
  text-align: center;
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: vars.$base-size * 0.5;

  @include mixins.media-queries(tablet, min) {
    width: 60%;
  }

  &:hover{
    background-color: vars.$green;
    border: none;
    color: #ffffff;
  }
}

.form-button-signin {
  color: #ffffff;
  text-align: center;
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: vars.$base-size * 0.5;

  @include mixins.media-queries(tablet, min) {
    width: 60%;
  }
}


.form-button-secondary {
  padding: vars.$base-size;
  border-radius: vars.$base-size * 0.20;
  border: none;
  color: vars.$black;
  text-align: center;
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: vars.$base-size * 0.5;

  @include mixins.media-queries(tablet, min) {
    width: 100%;
  }

  &:hover{
    background-color: vars.$green;
    border: none;
    color: #ffffff;
  }
}

//PReview

.event-preview {
  width: functions.colWidth(12);

  @include mixins.media-queries(tablet, min) {
      width: functions.colWidth(4);
  }
}

.preview-title {
  font-family: vars.$heading;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.pre-title {
  color: vars.$primary;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

.para-title {
  color: vars.$primary;
  font-family: vars.$paragraph;
  font-size: normal;
  font-weight: bold;
  text-align: center;
}

.para-description {
  color: vars.$primary;
  font-family: vars.$paragraph;
  font-size: normal;
}

.form-box {
  height: vars.$base-size * 1.75; // or 100%?
  width: vars.$base-size * 20;
  font-family: vars.$paragraph;
  margin-bottom: 1rem;
}

.form-box-height {
  height: vars.$base-size * 8;
  width: vars.$base-size * 20.4
}

.text-size {
  font-size: medium;
  border-radius: vars.$base-size * 0.50;
  border: none;
}

.img-size {
  font-size: xx-large;
  border-radius: vars.$base-size * 0.50;
  border: none;
  padding: vars.$base-size;
  width: 50%;
   margin: 0 auto;
   margin-top: vars.$base-size * 0.5;
   color: #ffffff;
  text-align: right;
  display: flex;
  width: 50%;
  margin: 0 auto;
  margin-top: vars.$base-size * 0.5;

  @include mixins.media-queries(tablet, min) {
    width: 60%;
  }

  &:hover{
    background-color: vars.$green;
    color: #ffffff;
  }
}