@use '../1-helpers/vars';
@use '../1-helpers/mixins';


.footer {
position: fixed;
bottom: 0;
}

.footer-container {
    display: none;
    // z-index: -900;
    // height: 100%;
    // width: 100%;
    // position: fixed;
    // top: 0;
    // left: 0;
    // overflow: hidden;
    // bottom: 0;

    @include mixins.media-queries(tablet, min) {
        display: flex;
        position: fixed;
        bottom: 0;
     } 
}
