@use "sass:math";
@use '../1-helpers/mixins';
@use '../1-helpers/vars';

.button-primary {
  background-color: vars.$dark-green;
  border: none;
  color: #ffffff;
  padding: vars.$base-size;
  text-align: center;
  display: block;
  width: 100%;

  @include mixins.media-queries(tablet, min) {
    width: 50%;
  }

  &:hover{
    background-color: vars.$green;
    border: none;
    color: #ffffff;
  }
}

.edit-event-button {
  display: flex;
  justify-content: space-around;
  background-color: vars.$secondary; 
  border: none;
  border-radius: math.div(vars.$base-size, 4);
  color: white;
  font-size: 16px;
  width: vars.$base-size * 8;
  box-sizing: content-box;
  align-self: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: vars.$base-size;
  padding: vars.$base-size;
  font-family: vars.$paragraph;
}

.card-close-button {
  display: flex;
  justify-content: flex-end;
  color: white;
  background-color: vars.$primary;
  border: none;
  padding: vars.$base-size;
  font-family: vars.$paragraph;
}

.card-volunteer-button {
  display: flex;
  justify-content: center;
  background-color: vars.$secondary; 
  border: none;
  border-radius: math.div(vars.$base-size, 4);
  color: white;
  font-size: 16px;
  width: vars.$base-size * 8;
  box-sizing: content-box;
  align-self: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: vars.$base-size * 2;
  padding: vars.$base-size;
  font-family: vars.$paragraph;
}